<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="LayoutWeb">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
<link rel="stylesheet" type="text/css"
	th:href="@{/web/bootstrap/css/bootstrap.min.css}" media="all" />
<link rel="stylesheet" type="text/css" th:href="@{/web/css/style.css}" media="all" />
<script type="text/javascript" th:src="@{/web/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/web/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <div th:replace="~{common/web/header :: Header}"></div>
    <th:block th:insert="${content}"/>
    <div th:replace="~{common/web/footer :: Footer}"></div>
</body>
</html>